@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


/* Firefox */
/* .scrollable-element {
  scrollbar-width: thin;
  scrollbar-color: #0070BD;
} */

/* Webkit Browsers (Chrome, Safari, Edge, Opera) */
.scrollable-element::-webkit-scrollbar {
  width: 6px;
}

.scrollable-element::-webkit-scrollbar-track {
  background: #f0f0f0;
}

.scrollable-element::-webkit-scrollbar-thumb {
  background-color: #0070BD;
  border-radius: 10px;
}

.scrollable-element::-webkit-scrollbar-thumb:hover {
  background-color: #008BE8;
}


